header {
    background-color: white;
    color:black;
    border: 1px solid #a39c9c;
}

body {
    background-image: url("./images/10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.farmBody {
    height: 85vh;
}

.farmCards {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chickenCard {
    margin: 5px;
    border: 1px solid #a39c9c;
  }

.eggCard {
    margin: 5px;
    border: 1px solid #a39c9c;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin: 1vh;
}

.accenLogo {
    max-block-size: 20px;
    vertical-align: bottom;
}
.priceCard {
    text-align: center;
}
h4{
    margin-bottom: 0px;
}

.mainPriceCard {
    display: flex;
    justify-content: center;
}

.statisticsTbl {
    height: 85vh;
    display: flex;
    justify-content: center;
    color: white;
    overflow-y: scroll;
}
.stTable {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    margin: 4px;
}
.trTable {
    text-decoration: underline;
}
.tdTable {
    padding: 10px;
}

.footer {
    text-align: center;
}

.quantityTbl {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
  }

.tblProducts {
    display: flex;
    justify-content: center;
}

.countDown {
    color:aquamarine !important;
    font-size: 100px;
}

.logo {
    max-width: 64px;
    margin-top: 8px;
}

.toolbar {
    display: flex;
    align-items: center;
}

b {
    background-color: rgb(66, 186, 150);
    font-size: 30px;
    color: white;
    max-width: 25vh;
    margin: 0px 10px 10px 10px;
    padding: 15px;
}

.loadingImg {
    display: flex;
    align-items: center;
    height: 90vh;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .price {
    padding: 0px;
    margin: 0px;
  }

  .buttonCard {
    margin-top: 0px;
  }