header {
    background-color: white;
    color:black;
    border: 1px solid #a39c9c;
}

body {
    background-image: url("./images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.farmBody {
    height: 85vh;
}

.farmCards {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chickenCard {
    margin: 5px;
    border: 1px solid #a39c9c;
  }

.eggCard {
    margin: 5px;
    border: 1px solid #a39c9c;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin: 1vh;
}

.accenLogo {
    max-block-size: 20px;
    vertical-align: bottom;
}
.priceCard {
    text-align: center;
}
h4{
    margin-bottom: 0px;  
}

.mainPriceCard {
    display: flex;
    justify-content: center;
}

.statisticsTbl {
    height: 85vh;
    display: flex;
    justify-content: center;
    color: white;
    overflow-y: scroll;
}
.stTable {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
.trTable {
    text-decoration: underline;
}
.tdTable {
    padding: 20px;
}

.footer {
    text-align: center;
}

.quantityTbl {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
  }

.tblProducts {
    display: flex;
    justify-content: center;
}

.countDown {
    color:aquamarine !important;
    font-size: 100px;
}